@mixin setTopLine($color: #C7C7C7) {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  border-top: 1px solid $color;
  color: $color;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}

@mixin setBottomLine($color: #C7C7C7) {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid $color;
  color: $color;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}

@mixin setLeftLine($color: #C7C7C7) {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-left: 1px solid $color;
  color: $color;
  transform-origin: 0 0;
  transform: scaleX(0.5);
}

@mixin setRightLine($color: #C7C7C7) {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid $color;
  color: $color;
  transform-origin: 100% 0;
  transform: scaleX(0.5);
}

@mixin setLine($color: #C7C7C7) {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  border: 1px solid $color;
  color: $color;
  height: 200%;
  transform-origin: left top;
  transform: scale(0.5);
}

.xp-1px, .xp-1px-t, .xp-1px-b, .xp-1px-tb, .xp-1px-l, .xp-1px-r {
  position: relative;
}

.xp-1px {
  &:before {
    @include setLine();
  }
}

.xp-1px-t {
  &:before {
    @include setTopLine();
  }
}

.xp-1px-b {
  &:after {
    @include setBottomLine();
  }
}

.xp-1px-tb {
  &:before {
    @include setTopLine();
  }
  &:after {
    @include setBottomLine();
  }
}

.xp-1px-l {
  &:before {
    @include setLeftLine();
  }
}

.xp-1px-r {
  &:after {
    @include setRightLine();
  }
}
